@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}
#top-center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid rgb(187, 184, 184);
    width:103%;
    /* padding: 0.5px; */
    height: 50px;
    border-bottom: 0;
}
.first{
    width: 100%;
    padding: 8px;
    display: flex;  
    align-items: center;
    justify-content: flex-start;
}
.first *{
    margin: 10px;
}
.first input{
    border: 0;
    outline: none;
    font-size: 15px;
    width:70%;
}
#center-center{
    /* padding: 10px; */
    width: 103%;
    border: 1px solid rgb(187, 184, 184) ;
}

.center{
    width: 50vw;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid rgb(187, 184, 184) ; */
}

#image-url{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: 0;
    font-size: 15px;
    margin: 10px;
}

#tweet-button{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    border: 0;
    outline: 0;
    background-color: #3aa9ee;
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

#tweet-button:hover{
    background-color: #109cf3;
}

hr{
    height: 10px;
    background-color: rgb(216, 213, 213);
    width: 100%;
    border: 0;
}

.loader{
    margin-left: auto;
    margin-right: auto;
    /* color: #109cf3; */
    height: 100px;
    width: 100px;

}

.posts{
    /* margin: 10px; */
}
main{
    display: flex;
}

main *{
    margin: 10px;
}
.tweet{
    /* margin-bottom: 20px; */
    width: 100%;
    border-bottom: 1px solid rgb(187, 184, 184);
    border-top: 0;

}
.icons{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#image{
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: flex;
    object-fit: contain;
}

@media only screen and (max-width: 670px){
    .center{
        
        margin-left:auto;
        width:70vw;
    }
}
