.left-sidebar{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
}

body::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
    padding: 10px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 50px;
    height: 10px;
    background-color: rgb(199, 198, 198);
}

body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(153, 152, 152);
}

@media only screen and (max-width: 1300px){
    .left-sidebar{
        display:none;
    }
}